# auto detect text files and perform LF normalization
* text=auto eol=lf

# exceptions using CRLF normalization
LICENSE eol=crlf
.github/SECURITY.md eol=crlf
.github/CODE_OF_CONDUCT.md eol=crlf

# exclude from generated archives
CHANGELOG.md export-ignore

# exclude from generated archives
# *.js linguist-vendored
